div {
    width: 100px;
    height: 100px;
    border: 1px red solid;
}
#banner {
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
#idioma {
    position: relative;
    left: 90%;
    height: 50px;
}
#buscador {
    position: relative;

}
#seccionCentral {
    top: 60px;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.contenido {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
#buscador {
    width: 50%;
    height: 30px;
    background-color: rgb(218, 218, 218);
}
#inputBuscador {
    background-color: rgb(218, 218, 218);
    border: none;
    width: 100%;
    height: 30px;
    margin: 0;
}
#noticias {
    width: 70%;
}
#anuncioIzq {
    width: 13%;
    left: 86%;
}
#anuncioDer {
    width: 13%;
    left: 1%;
    height: 100%;
}
#anuncioIzq, #anuncioDer {
    position: fixed;
    top: 60px;
    margin-bottom: 60px;
    height: 90%
}
.result{
    position: absolute;        
    z-index: 999;
    top: 100%;
    left: 0;
}
.search-box input[type="text"], .result{
    width: 100%;
    box-sizing: border-box;
}
/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
    background-color: wheat;
}
.result p:hover{
    background: rgb(247, 205, 127);
}
.result {
    border: none;
}
.cancion a {
    color: black;
    text-decoration: none;
    
}
.cancion ul {
    padding-inline-start: 0;
    width: 70%;
}
.cancion li{
    list-style: none;
}
.cancion {
    margin: auto;
    width: 100%;
    text-align: center;
    height: auto;
}
.parrafo {
    width: auto;
    height: auto;
    padding-bottom: 15px;
    margin: auto;
}