/*--------------------------------------------------------------------------*/
/*Estilo general de los botones e imputs*/
/*--------------------------------------------------------------------------*/
button, input[type=submit]  {
    border: 1px solid rgb(65, 158, 235);
    background-color: white;
}

button:hover ,input[type=submit]:hover  {
    border: 1px solid rgb(65, 158, 235);
    background-color: rgb(84, 184, 179);
}

button, input[type=submit], button:hover ,input[type=submit]:hover  {
    height: 40px;
    vertical-align: middle;
    text-align:center;
    font-size: 15px;
}

input[type=text], input[type=password] {
    border: 1px solid rgb(65, 158, 235);
    background-color: white;
    height: 40px;
    font-size: 15px;
}


h1, h2, h3 {
    text-align: center;
}
/*--------------------------------------------------------------------------*/
/*Estilos del login*/
/*--------------------------------------------------------------------------*/
#login {
    border: 1px solid rgb(65, 158, 235);
    width: 60%;
    height: 30%;
    margin: auto;
}

#login * {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#login input, #login button {
    width: 40%;
}

#login input {
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------------------*/
/*Estilos del panel de administracion*/
/*--------------------------------------------------------------------------*/
#panel_administracion h1 {
    text-align: center;
}

#panel_administracion {
    border: 1px solid rgb(65, 158, 235);
    width: 60%;
    height: 30%;
    margin: auto;
}

#panel_administracion div * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
}

#panel_administracion li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*Quitar estilos de la lista ordenada*/
#panel_administracion ol {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: auto;
}

#panel_administracion a {
    border: 1px solid rgb(65, 158, 235);
    width: 45%;
    height: auto;
    margin-bottom: 10px;
}

#panel_administracion a:hover {
    background-color: rgba(0, 0, 0, 0.11);
}

#panel_administracion a:visited {
    color: rgb(0, 0, 0);
}


/*--------------------------------------------------------------------------*/
/*Estilo de los paneles individuales*/
/*--------------------------------------------------------------------------*/

.panel_administrado {
    padding-bottom: 40px;
    width: 60%;
    height: 30%;
    margin: auto;
}

.panel_administrado * {
    margin: auto;
    margin-top: 40px;
}

#log-file {
    border: 1px solid rgb(65, 158, 235);
}

#log-file p {
    align-items: flex-start;
    text-align: left;
    margin: 5px 10px 5px 10px;
}


.panel_administrado * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
}
.panel_administrado input, .panel_administrado button {
    width: 30%;
}

.panel_administrado input {
    margin-left: auto;
    margin-right: auto;
}
