<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/estilos-body.css">
    </head>
<body>

    <div id="idioma">
        <form>
            <select onChange="location=this.options[this.selectedIndex].value;">
                <option value="#">Español</option>
                <option value="#">English</option>
            </select>
        </form>
    </div>

    <div id="seccionCentral">
        <div id="buscador" class="contenido">
            <form>
                    <input type="text" placeholder="Search.." id="inputBuscador">
            </form>
        </div>
        <div id="noticias" class="contenido">
            <p>Ultimas canciones añadidas</p>
            <p>Ultimas canciones añadidas</p>
            <p>Ultimas canciones añadidas</p>
            <p>Ultimas canciones añadidas</p>
            <p>Ultimas canciones añadidas</p>
            <p>Ultimas canciones añadidas</p>
            <p>Ultimas canciones añadidas</p>
            
        </div>
    </div>


    <div class="anuncio" id="anuncioDer">

    </div>

    <div class="anuncio" id="anuncioIzq">
        
    </div>
</body>
</html>
